@import "_const.scss";

.details {
    .product__price {
        font-weight: bold;
        margin-top: 1rem;
        color: gray;
    }

    .details__similiar--title {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    .details__product {
        display: flex;
        justify-content: space-around;
        margin: 1.5rem 0;

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
        }

        img {
            max-width: 400px;
            min-width: 150px;
            aspect-ratio: 1/1;
            width: 50%;
            height: 100%;
            border: 1px solid gray;
        }
    }

    .details__product--text {
        h1 {
            color: gray;
            font-weight: bold;
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.8rem;
            font-weight: normal;
            margin-bottom: 3rem;
        }

        h2,
        p {
            color: lighten(gray, 10%);
        }
    }

    .details__product--price {
        p {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
            color: gray;
        }

        button {
            color: white;
            background-color: $secondary;
            padding: 0.5rem 2rem;
            border-radius: 3rem;
        }
    }

    .details__similiar {
        margin: 2rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 3rem;
            color: gray;
        }

        ul {
            display: flex;
            width: 100%;
            overflow-x: scroll;
            padding: 0.5rem;
            gap: 2rem;

            div {
                width: 300px;
                min-width: 250px;

                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: 1px gray solid;
                    margin-bottom: 1rem;
                }

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                button {
                    width: 100%;
                    background-color: $secondary;
                    padding: 0.5rem 2rem;
                    margin-top: 2rem;
                    border-radius: 3rem;
                    color: white !important
                }
            }

        }
    }
}

@media (max-width: $tablet) {
    .details {
        .details__product {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0 2rem;

            &>div {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                max-width: 300px;
                margin-bottom: 2rem;
            }

            .details__product--text {
                h1 {
                    font-size: 1.2rem !important;
                    margin-bottom: 1rem;
                }

                h2 {
                    font-size: 1.5rem !important;
                    margin-bottom: 2rem;
                }

                h2,
                p {
                    font-size: 1rem !important;
                }
            }

            .details__product--price {
                p {
                    font-size: 1.2rem !important;
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                }

                button {
                    font-size: 1rem !important;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: $extra-large) {
    .details__similiar--title {
        font-size: 3rem !important;
    }

    .details {
        h1 {
            font-size: 3rem !important;
        }

        h2,
        p {
            font-size: 2rem !important;
            margin-bottom: 1rem;
        }

        button {
            font-size: 2rem !important;
            padding: 1rem 2rem !important;
        }
    }

    .details__similiar {
        margin: 2rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 3rem;
            color: gray;
        }

        ul {
            div {
                width: 400px !important;
                min-width: 250px;

                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: 1px gray solid;
                    margin-bottom: 1rem;
                }

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                button {
                    width: 100%;
                    background-color: $secondary;
                    padding: 0.5rem 2rem;
                    margin-top: 2rem;
                    border-radius: 3rem;
                    color: white !important
                }
            }

        }
    }
}