@import "_const.scss";

.ournav {
    margin: 0 !important;
    z-index: 999 !important;
    .link {
        padding: 8px !important;
    }

    a,
    p,  
    path {
        color: gray !important;
        font-size: 1rem !important;
    }

}

// large devices
html {
    @media (min-width: $extra-large) {
        .ournav {
            img {
                width: 80px;
            }
        }
    }
}