@import "_const.scss";

.ournav {
    margin: 0 !important;
    z-index: 999 !important;

    #collapsible-nav-dropdown {
        padding-left: 8px !important;
    }

    .cart-link {
        padding-left: 8px !important;
    }

    span {
        color: gray !important;
    }

    .link {
        padding: 8px !important;
    }

    a,
    p,
    path {
        color: gray !important;
        font-size: 1rem !important;
    }

}

// large devices
html {
    @media (min-width: $extra-large) {
        .ournav {
            padding: 4rem 0 !important;

            img {
                width: 80px;
            }

            a,
            p,
            span,
            path,
            svg {
                font-size: 1.5rem !important;
            }
        }
    }
}