@import "_const.scss";

.payment {
    margin: 2rem;
    display: flex;
    flex-direction: column;

    input {
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-left: 0.5rem;
        border: 1px solid gray;
        border-radius: 1rem;
    }

    .payment__info {
        border-bottom: 1px solid gray;
        margin-bottom: 2rem;
        padding: 0 5rem;

        h1 {
            margin-bottom: 2rem;
            font-size: 2rem !important;
        }

        button {
            border: none;
            background-color: $secondary;
            color: white;
            padding: 0.5rem 2rem;
            margin: 2rem 0;
            border-radius: 1rem;
        }

        .payment__info--item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75%;

            p {
                margin-bottom: 2rem;
            }
        }
    }

    .payment__table {
        h1 {
            margin-bottom: 2rem;
            font-size: 2rem !important;
        }

        overflow-x: scroll;

        table {
            width: 100%;
            min-width: 500px;

            thead {
                td {
                    background: $secondary;
                    font-weight: bold;
                    text-align: center;
                }
            }

            td {
                padding: 1rem;
                text-align: center;
            }

            tbody {

                tr {
                    &:nth-last-of-type(odd) {
                        background-color: rgb(225, 225, 225);
                    }
                }
            }

            .date {
                width: 25%;
            }

            .price {
                width: 75%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .payment {
        .payment__info {
            padding: 0;

            .payment__info--item {
                width: 100%;
                display: flex;
                flex-direction: column !important;
                align-items: flex-start !important;

                p {
                    display: flex;
                    flex-direction: column !important;
                    align-items: flex-start !important;

                    input {
                        margin: 1rem 0 !important;
                    }
                }
            }

        }

        .payment__table {
            table {
                thead {
                    td {
                        font-size: 0.8rem;
                    }
                }

                td {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (min-width: $extra-large) {
    .payment {

        h1 {
            font-size: 3.5rem !important;
        }

        p,
        a,
        span,
        button,
        input,
        td {
            font-size: 1.5rem !important;
        }
    }
}